.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: 10px;
  padding: 1vw;
  margin: 1vw 0 1vw 0;
  color: #2a363b;
  background-image: linear-gradient(350deg, #e7e7e7, #61676b);
  box-shadow: 0px 2px 1px rgba(0, 0, 0, 0.2), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 1px 3px rgba(0, 0, 0, 0.12);
}

.title {
  margin: 0;
}

.userbar {
  display: flex;
  align-items: center;
}

.img {
  margin-right: 1vw;
}

.avatar {
  width: 50px;
  height: 50px;
  border: 1px solid #000000;
  border-radius: 50%;
  margin-left: 1vw;
}

.username {
  font-size: 1.4vw;
  font-weight: 600;
  margin-left: 1vw;
}
