.bookpage {
  display: flex;
  justify-content: space-between;
}

.img {
  width: 30%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.thumb {
  width: 68%;
}

.display {
  display: flex;
  justify-content: space-between;
}

.title {
  width: 57%;
}

.bookname {
  margin-bottom: 1.5vw;
  font-size: 1.5vw;
  font-weight: 700;
}

.boldfont {
  font-weight: 600;
}

.control {
  width: 40%;
  border: 2px dashed #333333;
  padding: 1vw;
  text-align: end;
}

.count {
  margin-bottom: 1.5vw;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-weight: 700;
}

.input {
  width: 7.3vw;
  height: 2.2vw;
  border: 1px solid #56ca21;
  border-radius: 10px;
  padding-left: 10px;
  padding-right: 5px;
  font-family: inherit;
  font-size: 1.2vw;
  font-weight: 700;
  color: #505050;
}

.description {
  margin-top: 2vw;
  font-size: 1.1vw;
  font-weight: 500;
  text-align: justify;
  text-indent: 5%;
}
