.page {
  display: flex;
  justify-content: space-between;
  position: relative;
}

.error {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 0;
  margin: 0;

  color: #ff0000;
  font-size: 2vw;
  font-weight: 400;
}

.image {
  width: 27.9%;
}

.thumb {
  width: 70%;
}

.monitor {
  display: flex;
  justify-content: space-between;
}

.titleBox {
  width: 57%;
  font-weight: 400;
  font-size: 22px;
}

.title {
  margin-bottom: 1.5vw;
  font-weight: 700;
  font-size: 30px;
}

.boldfont {
  font-weight: 600;
}

.tag {
  padding: 1px 10px;
  border-radius: 10px;
  margin-right: 5px;
  color: #0000ff;
  background-color: #eef2f8;

  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    text-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1),
    box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.tag:hover,
.tag:focus {
  color: #ff5e00;
  text-shadow: 0px 1px 1px rgba(0, 0, 0, 0.25);
  box-shadow: 0px 2px 1px rgba(0, 0, 0, 0.25), 2px 1px 1px rgba(0, 0, 0, 0.3),
    -1px 1px 3px rgba(0, 0, 0, 0.15);
}

.link {
  composes: tag;
}

.control {
  width: 40%;
  border: 2px dashed #333333;
  padding: 1vw;
  text-align: end;
}

.count {
  display: flex;
  justify-content: space-between;
  align-items: center;

  margin-bottom: 1.5vw;
  font-weight: 700;
}

.input {
  width: 7.3vw;
  height: 2.2vw;
  border: 1px solid #56ca21;
  border-radius: 10px;
  padding-left: 10px;
  padding-right: 5px;
  font-family: inherit;
  font-weight: 700;
  font-size: 1.2vw;
  color: #505050;
}

.description {
  margin-top: 2vw;
  font-size: 1.1vw;
  font-weight: 500;
  text-align: justify;
  text-indent: 5%;
}
