.processing {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.title {
  font-size: 5.03vw;
  margin: 0 auto 1.68vw auto;
}

@media screen and (min-width: 596px) {
  .title {
    font-size: 30px;
    margin: 0 auto 10px auto;
  }
}

.imageBox {
  width: 90.94vw;
  position: relative;
}

@media screen and (min-width: 596px) {
  .imageBox {
    width: 542px;
  }
}

.gears {
  width: 16.78vw;
  position: absolute;
  top: 0;
  right: 0;
  transform: translate(22%, -7%);
}

@media screen and (min-width: 596px) {
  .gears {
    width: 100px;
  }
}
