.container {
  padding: 5px;
}

@media screen and (min-width: 320px) {
  .container {
    padding: 6px;
  }
}

@media screen and (min-width: 420px) {
  .container {
    padding: 7px;
  }
}

@media screen and (min-width: 800px) {
  .container {
    padding: 8px;
  }
}

@media screen and (min-width: 1024px) {
  .container {
    padding: 10px;
  }
}

@media screen and (min-width: 1600px) {
  .container {
    padding: 0.625vw;
  }
}
