.list {
  padding: 0;
  margin: 0;
  list-style: none;
}

.item {
  width: 100%;
  background: #ffffff;
  box-shadow: 0px 2px 1px rgba(0, 0, 0, 0.2), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 1px 3px rgba(0, 0, 0, 0.12);
  border-radius: 8px;
  padding: 0.3125vw 2.5vw;
  margin-bottom: 0.625vw;
}

@media screen and (min-width: 320px) {
  .item {
    padding: 5px 8px;
    margin-bottom: 4px;
  }
}

@media screen and (min-width: 420px) {
  .item {
    padding: 6px 12px;
    margin-bottom: 6px;
  }
}

@media screen and (min-width: 800px) {
  .item {
    border-radius: 10px;
    padding: 8px 16px;
    margin-bottom: 8px;
  }
}

@media screen and (min-width: 1024px) {
  .item {
    padding: 10px 20px;
    margin-bottom: 10px;
  }
}

@media screen and (min-width: 1600px) {
  .item {
    border-radius: 0.625vw;
    padding: 0.625vw 1.25vw;
    margin-bottom: 0.625vw;
  }
}
