.page {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;

  min-height: 550px;
  border-radius: 10px;
  box-shadow: 0px 2px 5px rgba(68, 42, 42, 0.75),
    0px 1px 3px rgba(68, 38, 38, 0.14), 0px 1px 2px rgba(139, 77, 77, 0.12);
  margin-bottom: 10px;
  background-color: #f9fcf0;
}

.error {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 0;
  margin: 0;

  color: #ff0000;
  font-size: 2vw;
  font-weight: 400;
}

.formBar {
  display: flex;
  align-items: flex-end;
  background-color: #e7e7e7;
  padding: 0 17px 15px 0;
  margin-top: 15px;
  border-radius: 10px;
  box-shadow: 0px 2px 5px rgba(68, 42, 42, 0.75),
    0px 1px 3px rgba(68, 38, 38, 0.14), 0px 1px 2px rgba(139, 77, 77, 0.12);
}

.formByName {
  display: flex;
  align-items: flex-end;
}

.input {
  height: 2.2vw;
  border: 1px solid #56ca21;
  border-radius: 10px;
  padding: 0 10px 0 10px;
  margin: 1vw 1vw 0 1vw;
  background-color: #ffffff;
  font-family: inherit;
  font-size: 1.2vw;
  font-weight: 400;
  color: #505050;
}

.inputByName {
  composes: input;
  width: 20vw;
  margin-right: -40px;
  align-items: flex-end;
}

.inputByPrice {
  composes: input;
  width: 11vw;
  margin-left: 60px;
}

.reset {
  margin-left: 2.5vw;
}
