.blank {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  margin: 20px 0;
}

.title {
  font-size: 7.63vw;
  margin: 0 auto 2.54vw auto;
}

@media screen and (min-width: 393px) {
  .title {
    font-size: 30px;
    margin: 0 auto 10px auto;
  }
}
