.box {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.spinner {
  animation: spinner 2s infinite linear;
}

.black {
  composes: spinner;
  color: #000000;
}

.white {
  composes: spinner;
  color: #ffffff;
}

.blue {
  composes: spinner;
  color: #2196f3;
}

.green {
  composes: spinner;
  color: #3dbe3d;
}

@keyframes spinner {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(359deg);
  }
}
