.box {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.spinner {
  animation: spinner 3s infinite linear;
}

.altSpinner {
  animation: altSpinner 3s infinite linear;
  margin-left: -10%;
}

.black {
  composes: altSpinner;
  color: #000000;
}

.white {
  composes: altSpinner;
  color: #ffffff;
}

.red {
  composes: altSpinner;
  color: #ff0000;
}

.blue {
  composes: altSpinner;
  color: #2196f3;
}

.green {
  composes: altSpinner;
  color: #3dbe3d;
}

.gray {
  composes: spinner;
  color: gray;
  margin-left: -12%;
}

@keyframes spinner {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(359deg);
  }
}

@keyframes altSpinner {
  0% {
    transform: rotate(359deg);
  }
  100% {
    transform: rotate(0deg);
  }
}
