.page {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;

  min-height: 550px;
}

.thumb {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;

  width: 100%;
}

@media screen and (min-width: 320px) {
  .thumb {
    width: auto;
  }
}

.avatar {
  width: 62.5vw;
  height: 62.5vw;
  border: 1px solid #242424;
  border-radius: 1px;
  margin-bottom: 12px;
}

@media screen and (min-width: 320px) {
  .avatar {
    width: 160px;
    height: 160px;
  }
}

@media screen and (min-width: 1600px) {
  .avatar {
    width: 10vw;
    height: 10vw;
  }
}

.form {
  width: 100%;
  padding: 0 3px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.label {
  font-size: 6vw;
  font-weight: 500;
}

@media screen and (min-width: 320px) {
  .label {
    font-size: 19px;
  }
}

@media screen and (min-width: 1600px) {
  .label {
    font-size: 1.2vw;
  }
}

.input {
  width: 100%;
  height: 10vw;
  border: 1px solid #56ca21;
  border-radius: 2.5vw;
  padding-left: 10px;
  padding-right: 5px;
  margin-bottom: 12px;
  font-family: inherit;
  font-size: 5vw;
  font-weight: 400;
  color: #505050;
  text-align: center;
}

@media screen and (min-width: 320px) {
  .input {
    width: 200px;
    height: 32px;
    border-radius: 8px;
    font-size: 16px;
  }
}

@media screen and (min-width: 800px) {
  .input {
    border-radius: 10px;
  }
}

@media screen and (min-width: 1600px) {
  .input {
    width: 12.5vw;
    height: 2vw;
    font-size: 1vw;
  }
}

.btnLink {
  margin: 0;
  text-decoration: none;
  color: inherit;
}
