.card {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  border-radius: 10px;
}

.thumb {
  display: flex;
  align-items: center;
  width: 40%;
}

.cover {
  width: 75px;
  height: 98px;
  margin-right: 20px;
}

.title {
  margin: 0;
  font-size: 1.6vw;
}

.controls {
  display: flex;
  align-items: center;
  width: 53%;
  font-size: 1.3vw;
  font-weight: 500;
}

.price {
  width: 135px;
  margin-right: 25px;
}

.countForm {
  height: 20px;
  display: flex;
  align-items: center;
  margin-right: 30px;
}

.countLabel {
  margin-right: 10px;
}

.countInput {
  width: 5vw;
  height: 2.2vw;
  border: 1px solid #56ca21;
  border-radius: 10px;
  padding-left: 10px;
  padding-right: 5px;
  font-family: inherit;
  font-size: 1.2vw;
  font-weight: 700;
  color: #505050;
}

.totalPrice {
  margin-right: auto;
}
