.footer {
  display: flex;
  justify-content: center;
  border-radius: 8px;
  padding: 10px 16px;
  margin-top: 5px;
  color: #2a363b;
  background-image: linear-gradient(10deg, #e7e7e7, #61676b);
  box-shadow: 0px 2px 1px rgba(0, 0, 0, 0.25), 2px 1px 1px rgba(0, 0, 0, 0.3),
    -1px 1px 3px rgba(0, 0, 0, 0.15);
  font-weight: 400;
  font-size: 12px;
}

@media screen and (min-width: 320px) {
  .footer {
    margin-top: 6px;
    font-size: 14px;
  }
}

@media screen and (min-width: 420px) {
  .footer {
    margin-top: 7px;
    font-size: 15px;
  }
}

@media screen and (min-width: 800px) {
  .footer {
    border-radius: 10px;
    margin-top: 8px;
    font-size: 16px;
  }
}

@media screen and (min-width: 1024px) {
  .footer {
    margin-top: 10px;
    font-size: 18px;
  }
}

@media screen and (min-width: 1600px) {
  .footer {
    border-radius: 0.625vw;
    padding: 0.625vw 1vw;
    margin-top: 0.625vw;
    font-size: 1.2vw;
  }
}

.link {
  margin: 0 5px;
  text-decoration: none;
  color: inherit;
}

.link:hover,
.link:focus {
  color: #000000;
  text-shadow: 0px 2px 1px rgba(0, 0, 0, 0.25), 2px 1px 1px rgba(0, 0, 0, 0.3),
    -1px 1px 3px rgba(0, 0, 0, 0.15);
}
