.footer {
  display: flex;
  justify-content: center;
  border-radius: 10px;
  padding: 1vw;
  margin: 0.8vw 0 1vw 0;
  color: #2a363b;
  background-image: linear-gradient(10deg, #e7e7e7, #61676b);
  box-shadow: 0px 2px 1px rgba(0, 0, 0, 0.25), 2px 1px 1px rgba(0, 0, 0, 0.3),
    -1px 1px 3px rgba(0, 0, 0, 0.15);
}

.link {
  text-decoration: none;
  font-size: 1.2vw;
  font-weight: 400;
  color: inherit;
}
