.cartbar {
  width: 100%;
  padding: 2.5vw;
}

@media screen and (min-width: 320px) {
  .cartbar {
    padding: 8px;
  }
}

@media screen and (min-width: 420px) {
  .cartbar {
    padding: 12px;
  }
}

@media screen and (min-width: 800px) {
  .cartbar {
    padding: 16px;
  }
}

@media screen and (min-width: 1024px) {
  .cartbar {
    padding: 20px;
  }
}

@media screen and (min-width: 1600px) {
  .cartbar {
    padding: 1.25vw;
  }
}

.priceBox {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: 1.25vw 2.5vw 0 0;
}

@media screen and (min-width: 320px) {
  .priceBox {
    padding: 4px 8px 0 0;
  }
}

@media screen and (min-width: 420px) {
  .priceBox {
    padding: 6px 12px 0 0;
  }
}

@media screen and (min-width: 800px) {
  .priceBox {
    padding: 8px 16px 0 0;
  }
}

@media screen and (min-width: 1024px) {
  .priceBox {
    padding: 10px 20px 0 0;
  }
}

@media screen and (min-width: 1600px) {
  .priceBox {
    padding: 0.625vw 1.25vw 0 0;
  }
}

.totalCost {
  margin: 0 8px;
  font-size: 5vw;
  font-weight: 700;
}

@media screen and (min-width: 320px) {
  .totalCost {
    margin: 0 16px;
    font-size: 15px;
  }
}

@media screen and (min-width: 420px) {
  .totalCost {
    margin: 0 20px;
    font-size: 17px;
  }
}

@media screen and (min-width: 800px) {
  .totalCost {
    margin: 0 30px;
    font-size: 20px;
  }
}

@media screen and (min-width: 1024px) {
  .totalCost {
    margin: 0 32px;
    font-size: 22px;
  }
}

@media screen and (min-width: 1600px) {
  .totalCost {
    margin: 0 2vw;
    font-size: 1.375vw;
  }
}
