.page {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  background-color: #1f1f1f;
  background-image: url('./error.jpg');
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-size: contain;
  border-radius: 10px;
  box-shadow: 0px 3px 2px rgba(0, 0, 0, 0.25), 3px 1px 1px rgba(0, 0, 0, 0.3),
    -2px 1px 3px rgba(0, 0, 0, 0.15);
}

.text {
  margin: 2vw;
  font-weight: 400;
  font-size: 2.5vw;
  color: #ffffff;
}
