.btn {
  display: inline-flex;
  justify-content: center;
  align-items: center;

  width: 34px;
  height: 34px;
  margin: 0;
  padding: 5px;
  border: none;
  outline: none;
  border-radius: 1px;
  font: inherit;
  fill: #505050;
  background-color: inherit;
  cursor: pointer;
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.btn:hover,
.btn:focus {
  fill: #2196f3;
  transform: scale(1.1);
}

.btn:active {
  box-shadow: 2px 5px 2px 0 rgb(0 0 0 / 0.5);
}
