.image {
  height: 328px;
  margin-left: auto;
  margin-right: auto;
}

.thumb {
  height: 15vw;
  margin-bottom: 1vw;
}

.title {
  height: 4.5vw;
}

.paragraph {
  margin: 0;
}

.value {
  font-weight: 400;
}

.shortDescription {
  composes: paragraph;
  height: 9vw;
  overflow: auto;
}

.author {
  composes: paragraph;
  margin-bottom: 1vw;
  font-weight: 500;
}

.control {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.price {
  composes: paragraph;
  font-weight: 500;
}

.btn {
  text-decoration: none;
  color: inherit;
}
